#header-wrapper.wrapper
  #header
    #logo
      h1
        a(href='/') Петък Вечер
      p Ти къде ще бъдеш тогава?
    nav#nav
      ul
        li
          a(href='/') Стена
        li
          a(href='/contact') Контакти
        li
          a(href='/profile') Профил
        li
          a(href='/logout') Излез