#header-wrapper.wrapper
  #header
    #logo
      h1
        a(href='index.html') Петък Вечер
      p Ти къде ще бъдеш тогава?
    nav#nav
      ul
        li
          a(href='/') Начало
        li
          a(href='/contact') Контакти
        li
          a(href='/login') Влез
        li
          a(href='/signup') Присъедини се