extends layout

block content
    div(id="contact-wrapper" class="wrapper")
      div(class="title") Свържете се с нас
      div(id="footer" class="container")
        .row(class='150%')
          div(class='6u 12u(mobile)')
            // Contact Form
            section
              form(method='post', action='#')
                .row(class='50%')
                  div(class='6u 12u(mobile)')
                    input#contact-name(type='text', name='name', placeholder='Име')
                  div(class='6u 12u(mobile)')
                    input#contact-email(type='text', name='email', placeholder='Мейл')
                .row(class='50%')
                  div(class='12u')
                    textarea#contact-message(name='message', placeholder='Вашето съобщение', rows='4')
                .row
                  div(class='12u')            
                    ul.actions
                      li
                        input.style1(type='submit', value='Изпрати')
                      li
                        input.style2(type='reset', value='Изтрий')
          div(class='6u 12u(mobile)')
            // Contact
            section.feature-list.small
              .row
                div(class='6u 12u(mobile)')
                  section
                    h3.icon.fa-home Офис
                    p
                      | Симеон Наков
                      br
                      | Карнеги 9
                      br
                      | София, България
                div(class='6u 12u(mobile)')
                  section
                    h3.icon.fa-comment Социални Мрежи
                    p
                      a(href='https://www.linkedin.com/in/simeon-nakov-a77a33145/') linkedin.com/in/simeon-nakov-a77a33145
                      br
                      a(href='https://www.facebook.com/simakamadafaka') facebook.com/simeon_nakov
              .row
                div(class='6u 12u(mobile)')
                  section
                    h3.icon.fa-envelope Директен Мейл
                    p
                      a(href='mailto:simeon_nakov@hotmail.com') simeon_nakov@hotmail.com
                div(class='6u 12u(mobile)')
                  section
                    h3.icon.fa-phone Телефон
                    p
                      | +359 897 035 048