extends layout

block content
  #intro-wrapper.wrapper.style1
    .title Какво е "Петък Вечер" ?
    section#intro.container
      p.style1 Ако се интересуваш повече за нас...
      p.style2
        | "Петък Вечер" е нова социална платформа, с която можеш да споделиш плановете си за уикенда.
      p.style3
        | С нея можеш да видиш, къде ще бъдат твойте 
        strong приятели
        | . Или да видиш напълно 
        strong непознати
        |  хора, които ще бъдат на съответното място. Така можеш да си намериш 
        strong приятна компания
        | , на самото място, още преди да си отишъл.
      ul.actions
        li
          a.button.style3.big(href='/signup') Присъедини се СЕГА!
  .wrapper.style2
    .title Още детайли
    #main.container
      a.image.featured(href='#')
        img(src='images/pic01.jpg', alt='')
      section#features
        .feature-list
          .row
            div(class='6u 12u(mobile)')
              section
                h3.icon.fa-facebook Поредното социално приложение?
                p
                  | Не, въпреки че платформата ни си има собствен сайт и собствено приложение, е пряко свързана със фейсбук по такъв начин, 
                  | че даже няма да усетите, че използвате второ приложение. Също така и ще ви спести време.
            div(class='6u 12u(mobile)')
              section
                h3.icon.fa-shield Следите ли ми личните данни?
                p
                  | Не, всички данни за вашата локация и друга лична информация можем да получим само, ако доброволно ги споделите с нас.
          .row
            div(class='6u 12u(mobile)')
              section
                h3.icon.fa-glass Каква функционалност предлагате?
                p
                  | Стремим се към лесен и интуитивен дизайн. Основната ни цел е да можете да видите, къде ще бъдат ваши приятели този уикенд, както и да разглеждате 
                  | спомени от изминали събития с минимални усилия от ваша страна.
            div(class='6u 12u(mobile)')
              section
                h3.icon.fa-lock Кой може да следи дейността ми?
                p
                  | Не, ще имате пълен контрол над поверителността на вашата дейност.
          .row
            div(class='6u 12u(mobile)')
              section
                h3.icon.fa-image Само за петък вечер ли е?
                p
                  | Не, само за петък и събота е. Това са вечерите, в които се излиза най-често и в които се създават най-много спомени. 
                  | Това е и нашата цел, да създадем много позитивни спомени и бързо и лесно да си припомним изминали такива.
            div(class='6u 12u(mobile)')
              section
                h3.icon.fa-dollar Безплатна ли е платформата?
                p
                  | Да, напълно е безплатно за всички потребители. 
        ul.actions.actions-centered
          li
            a.button.style1.big(href='/signup') Присъединете се
          li
            a.button.style2.big(href='/contact') Свържете се с нас
  .wrapper.style3
    .title Партньори
    #highlights.container
      .row(class='150%')
        div(class='4u 12u(mobile)')
          section.highlight
            a.image.featured(href='#')
              img(src='images/pic02.jpg', alt='')
            h3
              a(href='#') Aliquam diam consequat
            p
              | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
            ul.actions
              li
                a.button.style1(href='#') Learn More
        div(class='4u 12u(mobile)')
          section.highlight
            a.image.featured(href='#')
              img(src='images/pic03.jpg', alt='')
            h3
              a(href='#') Nisl adipiscing sed lorem
            p
              | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
            ul.actions
              li
                a.button.style1(href='#') Learn More
        div(class='4u 12u(mobile)')
          section.highlight
            a.image.featured(href='#')
              img(src='images/pic04.jpg', alt='')
            h3
              a(href='#') Mattis tempus lorem
            p
              | Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.
            ul.actions
              li
                a.button.style1(href='#') Learn More